.top{ 
    background-image: url("backrounds/colors.jpg");
}
section{
    height: 500px;  
}
.heading{
    color: rgb(197, 62, 62);
}
.devide{margin: 0px;
   width: 40%;
  float: left;
   height: 100px;
   margin-left: 4%; padding-left:2% ;
} 
.devide img{
    width: 100%; 
}
.button{  height: 30%; 
    text-decoration: none; background-image: 
    linear-gradient(rgb(223, 152, 152),rgb(236, 28, 28));
     border-radius: 5px; border: red;
}
.link{font-weight: bold; color: azure;
    text-decoration: none;
}
.second{
    background-image: url("backrounds/colors1.jpg");  
}
.devide1{
    margin: 0px;
    width: 40%;
   float: left;
    height: 100px;
    margin-left: 4%; padding-left:2% ; 
 } 
 .devide1 img{
    width: 100%;
 }
.heading2{
    color: aqua;
}
}